.banner-ppal {
    position: relative;
}
.banner-ppal-img {
    width: 100%;
}
.container-txt-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding-right: 70px;
    line-height: 1.2;
    max-width: 460px;
    height: 300px;
    color: #ffffff;
}
.banner-ppal-text {
    font-size: 15px;
    margin: 0;
    margin: 0;
    line-height: 1.75;
}
.banner-ppal-title {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 0;
}
.banner-cnt-btn {
    margin: 30px 0 0 0;
}
.banner-btn {
    background-color: #564aeb;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-color: transparent;
    padding: 12px 25px;
    line-height: 42px;
    margin: 40px 0;
    text-decoration: none;
    &:hover {
        background-color: #4133e8;
    }
}
